In [1]:
import pandas as pd

In [2]:
from pyprojroot import here

In [3]:
billboard = pd.read_csv(here('./data/billboard.csv'))

In [4]:
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
billboard_long = billboard.melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                               var_name='week',
                               value_name='rating')

In [6]:
billboard_long.sample(5)

,year,artist,track,time,date.entered,week,rating
6011,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,wk19,94.0
12945,2000,Sister Hazel,Change Your Mind,4:02,2000-07-15,wk41,NaN
7642,2000,"Black, Clint",Been There,5:28,2000-02-19,wk25,NaN
16475,2000,"Williams, Robbie",Angels,3:56,1999-11-20,wk52,NaN
6171,2000,"Jean, Wyclef",911,4:00,2000-10-07,wk20,NaN

In [7]:
billboard_long[billboard_long.track == 'Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
...     ...           ...    ...   ...          ...   ...     ...
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [8]:
billboard_song = billboard_long[['year', 'artist', 'track', 'time']]

In [9]:
billboard_song.shape

(24092, 4)

In [10]:
billboard_song.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [11]:
billboard_song = billboard_song.drop_duplicates()

In [12]:
billboard_song.shape

(317, 4)

In [13]:
billboard_song.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            307, 308, 309, 310, 311, 312, 313, 314, 315, 316],
           dtype='int64', length=317)

In [16]:
billboard_song['id'] = billboard_song.index

In [17]:
billboard_song.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [22]:
# this is another way to assign ID
billboard_song['id'] = range(len(billboard_song))

In [23]:
billboard_song.sample(5)

     year             artist                    track  time   id
82   2000  Dixie Chicks, The             Goodbye Earl  4:19   82
287  2000       Thomas, Carl                Emotional  4:31  287
49   2000       Cagle, Chris  My Love Goes On And ...  3:02   49
309  2000        Wills, Mark              Back At One  4:00  309
140  2000        Jagged Edge          He Can't Love U  3:30  140

In [24]:
billboard_long.sample(5)

,year,artist,track,time,date.entered,week,rating
17861,2000,"Gilman, Billy",One Voice,4:07,2000-06-17,wk57,NaN
14822,2000,Q-Tip,Breathe And Stop,4:06,2000-01-22,wk47,NaN
18339,2000,SoulDecision,Faded,3:25,2000-07-08,wk58,NaN
5338,2000,Smash Mouth,Then The Morning Com...,3:04,1999-10-30,wk17,20.0
14184,2000,"Price, Kelly",Love Sets You Free,3:46,2000-05-13,wk45,NaN

In [25]:
billboard_ratings = billboard_long.merge(
    billboard_song,
    on=['year', 'artist', 'track', 'time']
)

In [26]:
billboard_ratings.sample(5)

,year,artist,track,time,date.entered,week,rating,id
22778,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,wk55,NaN,299
52,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk53,NaN,0
5974,2000,"Diffie, Joe",The Quittin' Kind,3:23,2000-01-01,wk47,NaN,78
10108,2000,"Iglesias, Enrique",Be With You,3:36,2000-04-01,wk1,63.0,133
15112,2000,"McBride, Martina",There You Are,3:26,2000-09-09,wk65,NaN,198

In [27]:
billboard_ratings = billboard_ratings[['id', 'date.entered', 'week', 'rating']]

In [28]:
billboard_ratings.sample(5)

        id date.entered  week  rating
18328  241   1999-12-25  wk13    79.0
833     10   2000-04-29  wk74     NaN
8877   116   2000-04-22  wk62     NaN
9805   129   2000-06-17   wk2    71.0
13871  182   2000-02-19  wk40     NaN